// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Font-awesome
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//dropdown menu right
.dropdown-menu-right{
    color: black !important;
}

//Css for landing page
.icon-stack{
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    color: white;
}

.icon-stack-sm{
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    color: white;
}

.icon-stack-sm-sm{
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    color: white;
}

.rounded-pill{
    border-radius: 50rem!important;
}

.content p:hover{
    opacity: 100%;
    cursor: pointer;
}

.landing-text{
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    transform: translateY(-25%);
}

.py-10{
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.pt-10{
    padding-top: 7rem !important;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    transform: scaleX(1.5);
}

@media only screen and (max-width: 600px) {
    .wrapper{
        height: 650px;
    }
    .landing-text{
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.content h1{
    color: #ffff;
}

.content p{
    color: #ffffff;
    opacity: 65%;
    font-size: 1.2em;
}


//animista css
.ping{-webkit-animation:ping 1s ease-in-out 3 both;animation:ping 1s ease-in-out 3 both}
.heartbeat{-webkit-animation:heartbeat 2s linear 2;animation:heartbeat 2s linear 2}

@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
@-webkit-keyframes ping{0%{-webkit-transform:scale(.2);transform:scale(.2);opacity:.8}80%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}100%{-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0}}@keyframes ping{0%{-webkit-transform:scale(.2);transform:scale(.2);opacity:.8}80%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}100%{-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0}}

.nav-link.top :hover{
    opacity: 0.6;
}

//css for Notifications
.big-bell {
    font-size: 17px;
}

.checkAll{
    font-weight: bold;
    color: #1d643b;
    cursor: pointer;
}

.checkAll:hover{
    color: #288a51;
}

.dropdown-container {
    position: relative;
}
.dropdown-menu.notify-drop {
    min-width: 330px;
    background-color: #fff;
    min-height: 280px;
    max-height: 360px;
}

.dropdown-menu.notify-drop .notify-drop-title {
    border-bottom: 3px solid #e2e2e2;
    //border-image-source: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    padding: 5px 15px 10px 15px;
}
.dropdown-menu.notify-drop .drop-content {
    min-height: 260px;
    max-height: 280px;
    overflow-y: scroll;
}
.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track {
    background: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar {
    width: 0.25rem;
    background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb {
    background: #FF8663;
}

.dropdown-menu.notify-drop .drop-content > ul {
    left: 0;
    margin: 0;
    width: 100%;
    padding: 8px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.dropdown-menu.notify-drop .drop-content > ul li {
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 8px 0px 7px 0px;
    display: flex;
}

.dropdown-menu.notify-drop .drop-content > ul li .icon {
    width: 28px;
    height: 28px;
    background: #ffebe6;
    border-radius: 55%;
    text-align: center;
    line-height: 24px;
    margin-right: 12px;
    margin-top: 7px;
}

.dropdown-menu.notify-drop .drop-content > ul li .icon .fas {
    color: #FF8663;
    font-size: 16px;
    line-height: 24px;
}

.dropdown-menu.notify-drop .drop-content > ul li .text{
    position: relative;
    top: 3px;
    margin-right: 2px;
    cursor: pointer;
}

.dropdown-menu.notify-drop .drop-content > ul li:hover .text{
    font-weight: bold;
}

.dropdown-menu.notify-drop .drop-content > ul li:hover {
    background-color: #fff9f5;
}

.dropdown-menu.notify-drop .drop-content > ul li:last-child {
    border-bottom: none;
}

.dropdown-menu.notify-drop .notify-drop-footer a:hover {
    color: #333;
}

///////////////////////////////////////////////////////////////////////
//css for scrollbar
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #F56942;
}


/**********************by IVANA*****************************/
.likescroll {
    color:green !important;
    pointer-events: none;
}

.dislikescroll {
    color:red !important;
    pointer-events: none;
}

p.likescroll-p {
    text-align: left;
}

.likescroll-btn {
    cursor:pointer;
    width: 50px;
    height: 50px;
    padding:5px 3px 20px 5px;
}

@media (max-width: 768px) {
    .likescroll-btn{
        padding: 20px 25px 0px 10px;
    }
}

.header-wall{
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    font-weight: bold;
    color: whitesmoke;
}

.thumbs_up:hover{
    color: green;
}

.thumbs_down:hover{
    color: red;
}

.likes:hover{
    border-color: green;
    background-color: darkgreen;
    color: whitesmoke;
    font-weight: bold;
    border-width: 1px;
}

.dislikes:hover{
    border-color: red;
    background-color: darkred;
    color: whitesmoke;
    font-weight: bold;
    border-width: 1px;
}
/***************************************************/




//css for event table
.event-column:hover,
.event-column.hover{
    border-width: 2px;
    border-left-color: #E32743;
}

//css for group table
.admin-row{
    border: 2px solid transparent;
}

.admin-row:hover,
.admin-row.hover{
    //background-color: #fff3f0;
    border-left: 2px solid #0275d8;
}

//css for profile questionary card
.quest-profile{
    border-style: solid;
    border-width: 0.7px;
    border-color: #E32743;
    //box-shadow: #E32743;
}

//Questionary buttons design
.btn-outline-quest{
    color: #FF8663;
    background-color: #ffffff;
    border-color: #FF8663;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-outline-quest2{
    color: #E32743;
    background-color: #ffffff;
    border-color: #E32743;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-outline-quest2:hover,
.btn-outline-quest2:active,
.btn-outline-quest2:focus,
.btn-outline-quest2.hover{
    background-color: #E32743;
    color: #ffffff;
    border-color: #E32743;
    box-shadow: none !important;
    outline: none !important;
}

.btn-outline-quest:hover,
.btn-outline-quest:active,
.btn-outline-quest:focus,
.btn-outline-quest.active{
     background: #FF8663;
     color: #ffffff;
     border-color: #FF8663;
     box-shadow: none !important;
     outline: none !important;
 }

//Css for cards in questionary
.zoom:hover,
.zoom.hover{
    transform: scale(1.1);
    transition: all ease 400ms;
    border-color: #F56942;
    border-width: 0.9px;
}

.smaller-zoom:hover,
.smaller-zoom.hover{
    //box-shadow: 0.5px 0.5px 0.5px 0.5px;
    //transition: all ease 400ms;
    border-color: #F56942;
    border-width: 0.9px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

//Css for colors on jumbotron
.bg-gradient-primary-to-secondary {
    background-color: #f53b57;
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    min-height: 200px !important;
    padding-bottom: 5px;
    margin-bottom: 0px;
    padding-top: 45px;
    //margin: auto;
    //height: 70px !important;
}
/*.fill {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    left: 0;
    background-size: cover;
    //background-image: url('/public/images/quest/under.png');
}*/

//CSS FOR FOOTER
footer{
    //color: #d5d5d5;
    color: #dae0e5;
    background-color: #3f3f3f;
    padding-top: 1rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    maring-top: .8rem;
    margin-bottom: 1rem;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    maring-top: .8rem;
    margin-bottom: 1rem;
}
.social a{
    font-size: 3em;
    padding: 2rem;
}
.footer-col{
    height: 210px;
}

//CSS FOR NAVBAR
.navbar {
    border: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    /* --- navbar sizes --- */
    /* --- navbar colors --- */
}
//MORA OSTAT RADI SLIKE u navbaru
.navbar-brand {
    font-size: 2.25rem;
    font-weight: 900;
    color: #4b4b4b;
    max-width: 200px;
}

.navbar--color--white {
    background: #fff;
}

.navbar--color--ghost {
    background: rgba(0,0,0,0.18);
}
.navbar--color--ghost .navbar-brand,
.navbar--color--ghost .navbar-text,
.navbar--color--ghost .nav-toggle-icon,
.navbar--color--ghost a {
    color: #fff;
}

.navbar--color--white .nav-toggle-icon{
    color: #FF8663;
}

.navbar--color--white a {
    color: #4b4b4b;
}

/*.navbar--color--ghost .dropdown-menu {
    background-color: #FF8663;
}*/
//this is css for div under navbar so navbar can stay high in first position
.space-for-nav{
    background-color: #f53b57;
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    min-height: 80px;
    //padding-bottom: 5px;
    margin-bottom: 0px;
    //margin: auto;
}

.group-card:hover,
.group-card.hover{
    filter: brightness(95%);
    cursor: pointer;
}

.card-details{
    color: #FF8663;
    background-color: white;
    border-color: #FF8663;
    font-weight: bold;
    letter-spacing: 0.05em;
    display: block;
    top: 0px;
    position: relative;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 3px solid #cccccc;

    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
    }

    &:hover:before {
        transform: scale(2.15);
    }
}

.text-orange {
    color: #FF8663;
}
.background-orange {
    color: #FF8663;
}

.bg-gradient-primary-to-secondary-2 {
    background-color: #f53b57;
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
}

////////////////////////////////////////////////////////////
//CSS FOR SIGNUP AND SIGN IN
.reg-form {
    color: #999;
    background: #f5f5f5;
}
.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
    border-radius: 0;
}
.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
}

@media only screen and (max-width: 600px) {
    .signup-form{
     width: 300px;
    }
}

.signup-form h2 {
    color: #636363;
    margin: 0 0 15px;
    text-align: center;
}
.signup-form .lead {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}
.signup-form form {
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 13px;
}
.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
}
.signup-form .input-group-addon {
    margin-top: 10px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-right: 5px;
}
.signup-form .sign-button {
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}
.signup-form .sign-button:hover, .signup-form .sign-button:focus {
    background: #179b81;
}

.signup-form .fa {
    font-size: 21px;
}
.signup-form .fa-paper-plane {
    font-size: 17px;
}
.signup-form .fa-check {
    color: #fff;
    left: 9px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}

//css for user settings
.addon{
    color: #999999;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 70%;
    font-size: 1rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.26rem 0.8rem;
    color: #f1e5e6;
    background-color: #d3394c;

}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #bf3647;
}

.submit {
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}

.submit:hover, .submit:focus {
    background: #179b81;
}

.inputfileevent {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 6px;
    left: 0;
    font-size: 15px;

}
.inputfileevent:focus + label {
    outline: 2px solid;
}

.image_button {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #FF8663;
    font-size: 16px;
    color: #f1e5e6;
}
.image_button:focus
.image_button:hover {
    background-color: #f76c45;
}

.file-upload-filename {
    background-color: #ffffff;
    color: #FF8663;
}





//SIDEBAR CSS
.sidebar-wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index: 999;
    background-color: #f1e5e6;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

#sidebar .sidebar-header {
    padding: 20px;
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    opacity: 100%;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    color: #4b4b4b;
    font-size: 1.2em;
    display: block;
}
#sidebar ul li a:hover {
    text-decoration: none;
    font-weight: bold;
    background-color: #fff9f5;
}

#sidebar a[aria-expanded="true"]{
    background-color: #fff9f5;
    font-weight: bold;
    color: #f76c45;
}

#sidebar .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #f76c45;
}

.custom-control-label::before,
.custom-control-label::after {
    width: 1.25rem;
    height: 1.25rem;
}

.checkboxText:hover{
    font-weight: bold;
}

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

//css for message card on group/event wall



///css for datepicker
.date {
    width: 50%;
    border: 1px solid #C8CCD4;
    border-radius: 3px;
    text-align: center;
    appearance: none;
}
.date:focus {
    outline: none;
    border-color: #5D9CF5;
}

.ui-datepicker {
    width: 280px;
    padding: 5px;
    background: #2B323B;
    border-radius: 4px;
    box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
@media screen and (max-width: 580px) {
    .ui-datepicker {
        top: auto !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100%;
        border-radius: 0px;
    }
}
.ui-datepicker.active {
    opacity: 1;
}

.ui-datepicker-header {
    height: 40px;
    padding: 3px;
    margin-bottom: 10px;
}
.ui-datepicker-header .ui-datepicker-title {
    text-align: center;
    line-height: 34px;
}

.ui-datepicker-month,
.ui-datepicker-year {
    -webkit-appearance: none;
    border: 0;
    background: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin: 0 1px;
}

.ui-datepicker-prev, .ui-datepicker-next {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    cursor: pointer;
    text-indent: 9999px;
    overflow: hidden;
    border-radius: 3px;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
    background: #444B56;
}

.ui-datepicker-prev {
    float: left;
}
.ui-datepicker-prev:after {
    transform: rotate(45deg);
    margin-left: 15px;
}

.ui-datepicker-next {
    float: right;
}
.ui-datepicker-next:after {
    transform: rotate(-135deg);
    margin-left: 13px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
    content: "";
    position: absolute;
    display: block;
    margin-top: -10px;
    width: 6px;
    height: 6px;
    border-left: 2px solid #C2C7D1;
    border-bottom: 2px solid #C2C7D1;
    pointer-events: none;
}

.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}
.ui-datepicker-calendar thead tr th {
    width: 40px;
    padding-bottom: 6px;
}
.ui-datepicker-calendar thead tr th span {
    display: block;
    width: 100%;
    padding: 0;
    color: #8D9298;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.ui-datepicker-calendar tbody tr td {
    padding-right: 3px;
    padding-bottom: 3px;
}
.ui-datepicker-calendar tbody tr td:first-child {
    padding-left: 3px;
}

.ui-state-default {
    display: block;
    text-decoration: none;
    color: white;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    font-size: 12px;
}
.ui-state-default:hover {
    background: #444B54;
    text-decoration: none;
    color: white;
}

.ui-state-highlight {
    color: #FED615;
}

.ui-state-active:not(.ui-state-highlight) {
    color: white;
    background: #5D9CF5;
}

.ui-datepicker-unselectable .ui-state-default {
    color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
}
////
