// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Font-awesome
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//css for profile questionary card
.quest-profile{
    border-style: solid;
    border-width: 0.7px;
    border-color: #E32743;
    //box-shadow: #E32743;
}

//Questionary buttons design
.btn-outline-quest{
    color: #FF8663;
    background-color: #ffffff;
    border-color: #FF8663;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-outline-quest2{
    color: #E32743;
    background-color: #ffffff;
    border-color: #E32743;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-outline-quest2:hover,
.btn-outline-quest2:active,
.btn-outline-quest2:focus,
.btn-outline-quest2.hover{
    background-color: #E32743;
    color: #ffffff;
    border-color: #E32743;
    box-shadow: none !important;
    outline: none !important;
}

.btn-outline-quest:hover,
.btn-outline-quest:active,
.btn-outline-quest:focus,
.btn-outline-quest.active{
     background: #FF8663;
     color: #ffffff;
     border-color: #FF8663;
     box-shadow: none !important;
     outline: none !important;
 }

//Css for cards in questionary
.zoom:hover,
.zoom.hover{
    transform: scale(1.1);
    transition: all ease 400ms;
    border-color: #F56942;
    border-width: 0.9px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

//Css for colors on jumbotron
.bg-gradient-primary-to-secondary {
    background-color: #f53b57;
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    min-height: 200px !important;
    padding-bottom: 5px;
    margin-bottom: 0px;
    padding-top: 45px;
    //margin: auto;
    //height: 70px !important;
}
/*.fill {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    left: 0;
    background-size: cover;
    //background-image: url('/public/images/quest/under.png');
}*/

//CSS FOR FOOTER
footer{
    //color: #d5d5d5;
    color: #dae0e5;
    background-color: #3f3f3f;
    padding-top: 1rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    maring-top: .8rem;
    margin-bottom: 1rem;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    maring-top: .8rem;
    margin-bottom: 1rem;
}
.social a{
    font-size: 3em;
    padding: 2rem;
}
.footer-col{
    height: 210px;
}

//CSS FOR NAVBAR
.navbar {
    border: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    /* --- navbar sizes --- */
    /* --- navbar colors --- */
}
//MORA OSTAT RADI SLIKE u navbaru
.navbar-brand {
    font-size: 2.25rem;
    font-weight: 900;
    color: #4b4b4b;
    max-width: 200px;
}

.navbar--color--white {
    background: #fff;
}

.navbar--color--ghost {
    background: rgba(0,0,0,0.2);
}
.navbar--color--ghost .navbar-brand,
.navbar--color--ghost .navbar-text,
.navbar--color--ghost .nav-toggle-icon,
.navbar--color--ghost a {
    color: #fff;
}

.navbar--color--white .nav-toggle-icon{
    color: #FF8663;
}

.navbar--color--white a {
    color: #4b4b4b;
}

.navbar--color--ghost .dropdown-menu {
    background-color: #FF8663;
}
//this is css for div under navbar so navbar can stay high in first position
.space-for-nav{
    background-color: #f53b57;
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    min-height: 100px;
    //padding-bottom: 5px;
    margin-bottom: 0px;
    //margin: auto;
}

.group-card:hover,
.group-card.hover{
    filter: brightness(95%);
    cursor: pointer;
}

