// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Font-awesome
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//animista css
.ping{-webkit-animation:ping 1s ease-in-out 3 both;animation:ping 1s ease-in-out 3 both}
.heartbeat{-webkit-animation:heartbeat 2s linear 2;animation:heartbeat 2s linear 2}

@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
@-webkit-keyframes ping{0%{-webkit-transform:scale(.2);transform:scale(.2);opacity:.8}80%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}100%{-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0}}@keyframes ping{0%{-webkit-transform:scale(.2);transform:scale(.2);opacity:.8}80%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}100%{-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0}}

.nav-link.top :hover{
    opacity: 0.6;
}

//css for Notifications
.big-bell {
    font-size: 17px;
}

.checkAll{
    font-weight: bold;
    color: #1d643b;
    cursor: pointer;
}

.checkAll:hover{
    color: #288a51;
}

.dropdown-container {
    position: relative;
}
.dropdown-menu.notify-drop {
    min-width: 330px;
    background-color: #fff;
    min-height: 280px;
    max-height: 360px;
}

.dropdown-menu.notify-drop .notify-drop-title {
    border-bottom: 3px solid #e2e2e2;
    //border-image-source: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    padding: 5px 15px 10px 15px;
}
.dropdown-menu.notify-drop .drop-content {
    min-height: 260px;
    max-height: 280px;
    overflow-y: scroll;
}
.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track {
    background: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar {
    width: 0.25rem;
    background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb {
    background: #FF8663;
}

.dropdown-menu.notify-drop .drop-content > ul {
    left: 0;
    margin: 0;
    width: 100%;
    padding: 8px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.dropdown-menu.notify-drop .drop-content > ul li {
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 8px 0px 7px 0px;
    display: flex;
}

.dropdown-menu.notify-drop .drop-content > ul li .icon {
    width: 28px;
    height: 28px;
    background: #ffebe6;
    border-radius: 55%;
    text-align: center;
    line-height: 24px;
    margin-right: 12px;
    margin-top: 7px;
}

.dropdown-menu.notify-drop .drop-content > ul li .icon .fas {
    color: #FF8663;
    font-size: 16px;
    line-height: 24px;
}

.dropdown-menu.notify-drop .drop-content > ul li .text{
    position: relative;
    top: 3px;
    margin-right: 2px;
    cursor: pointer;
}

.dropdown-menu.notify-drop .drop-content > ul li:hover .text{
    font-weight: bold;
}

.dropdown-menu.notify-drop .drop-content > ul li:hover {
    background-color: #fff9f5;
}

.dropdown-menu.notify-drop .drop-content > ul li:last-child {
    border-bottom: none;
}

.dropdown-menu.notify-drop .notify-drop-footer a:hover {
    color: #333;
}

///////////////////////////////////////////////////////////////////////
//css for scrollbar
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #F56942;
}


/**********************by IVANA*****************************/
.likescroll {
    color:green !important;
    pointer-events: none;
}

.dislikescroll {
    color:red !important;
    pointer-events: none;
}

p.likescroll-p {
    text-align: right;
}

.likescroll-btn {
    cursor:pointer;
}
/***************************************************/




//css for event table
.event-column:hover,
.event-column.hover{
    border-width: 2px;
    border-left-color: #E32743;
}

//css for group table
.admin-row{
    border: 2px solid transparent;
}

.admin-row:hover,
.admin-row.hover{
    //background-color: #fff3f0;
    border-left: 2px solid #0275d8;
}

//css for profile questionary card
.quest-profile{
    border-style: solid;
    border-width: 0.7px;
    border-color: #E32743;
    //box-shadow: #E32743;
}

//Questionary buttons design
.btn-outline-quest{
    color: #FF8663;
    background-color: #ffffff;
    border-color: #FF8663;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-outline-quest2{
    color: #E32743;
    background-color: #ffffff;
    border-color: #E32743;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-outline-quest2:hover,
.btn-outline-quest2:active,
.btn-outline-quest2:focus,
.btn-outline-quest2.hover{
    background-color: #E32743;
    color: #ffffff;
    border-color: #E32743;
    box-shadow: none !important;
    outline: none !important;
}

.btn-outline-quest:hover,
.btn-outline-quest:active,
.btn-outline-quest:focus,
.btn-outline-quest.active{
     background: #FF8663;
     color: #ffffff;
     border-color: #FF8663;
     box-shadow: none !important;
     outline: none !important;
 }

//Css for cards in questionary
.zoom:hover,
.zoom.hover{
    transform: scale(1.1);
    transition: all ease 400ms;
    border-color: #F56942;
    border-width: 0.9px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

//Css for colors on jumbotron
.bg-gradient-primary-to-secondary {
    background-color: #f53b57;
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    min-height: 200px !important;
    padding-bottom: 5px;
    margin-bottom: 0px;
    padding-top: 45px;
    //margin: auto;
    //height: 70px !important;
}
/*.fill {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    left: 0;
    background-size: cover;
    //background-image: url('/public/images/quest/under.png');
}*/

//CSS FOR FOOTER
footer{
    //color: #d5d5d5;
    color: #dae0e5;
    background-color: #3f3f3f;
    padding-top: 1rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    maring-top: .8rem;
    margin-bottom: 1rem;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    maring-top: .8rem;
    margin-bottom: 1rem;
}
.social a{
    font-size: 3em;
    padding: 2rem;
}
.footer-col{
    height: 210px;
}

//CSS FOR NAVBAR
.navbar {
    border: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    /* --- navbar sizes --- */
    /* --- navbar colors --- */
}
//MORA OSTAT RADI SLIKE u navbaru
.navbar-brand {
    font-size: 2.25rem;
    font-weight: 900;
    color: #4b4b4b;
    max-width: 200px;
}

.navbar--color--white {
    background: #fff;
}

.navbar--color--ghost {
    background: rgba(0,0,0,0.2);
}
.navbar--color--ghost .navbar-brand,
.navbar--color--ghost .navbar-text,
.navbar--color--ghost .nav-toggle-icon,
.navbar--color--ghost a {
    color: #fff;
}

.navbar--color--white .nav-toggle-icon{
    color: #FF8663;
}

.navbar--color--white a {
    color: #4b4b4b;
}

/*.navbar--color--ghost .dropdown-menu {
    background-color: #FF8663;
}*/
//this is css for div under navbar so navbar can stay high in first position
.space-for-nav{
    background-color: #f53b57;
    background-image: linear-gradient(135deg, #e32743 0%, rgba(255, 121, 63, 0.8) 100%);
    min-height: 80px;
    //padding-bottom: 5px;
    margin-bottom: 0px;
    //margin: auto;
}

.group-card:hover,
.group-card.hover{
    filter: brightness(95%);
    cursor: pointer;
}

.card-details{
    color: #FF8663;
    background-color: white;
    border-color: #FF8663;
    font-weight: bold;
    letter-spacing: 0.05em;
    display: block;
    top: 0px;
    position: relative;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 3px solid #cccccc;

    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
    }

    &:hover:before {
        transform: scale(2.15);
    }
}

.text-orange {
    color: #FF8663;
}





